.card-list {
    width: calc(25% - 30px);
    max-width: 307px;
    margin: 0 15px 15px;
}

.card-img {
    height: 140px;
}

.card-list h2 {
    height: 27px;
    font-size: 18px;
    overflow: hidden;
}

.card-list p {
    height: 80px;
    overflow: hidden;
}
